@import url(./common.css);
@import url(./ppl_01.css);
@import url(./cmnt_01.css);

a {
  color: Black;
}

a:hover {
  color: White;
}

#headDiv {
  z-index: 2;
  position: absolute;
  left: 7px; 
  top: 7px;
  right: 14px;
  height: 130px;
  vertical-align: middle;
}

#headTbl {
  width: 100%;
  height: 130px;
  vertical-align: middle;
}

#headBg {
  z-index: 1;
  position: absolute;
  left: 7px; 
  top: 7px;
  right: 7px;
  height: 130px;
  vertical-align: middle;
}

#headBgTbl {
  width: 100%;
  height: 130px;
  border-right: black solid 7px;
}

#headTitleTD {
  vertical-align: bottom;
}

#headTitle {
  text-align: right;
  font-family: serif, Times, "Times New Roman";
  font-size: 72pt;
  margin-left: 212px;
  margin-right: 10px;
}

#headTitleA, #headTitle {
  text-decoration: none;
  color: black;
}

#promoTextTD {
  height: 35px;
  vertical-align: top;
}

#promoText {
  margin-left: 212px;
  margin-right: 10px;
  text-align: right;
}

#wisdom {
  z-index: 1;
  position: absolute;
  top: 144px;
  left: 7px;
  right: 7px;
  text-align: right;
}

#wisdomTbl {
  width: 100%;
  border: 0px;
}

#wisdomTd {
  text-align: right;
  font-size: 10pt;
}

#logoDiv {
  z-index: 2;
  position: absolute;
  left: 21px;
  top: 21px;
  height: 164px;
}

#logo {
  width: 198px;
  height: 164px;
  background: url("../graph/logo.png");
}

#menuABS {
  z-index: 5;
  position: absolute;
  top: 169px;
  left: 7px;
  width: 110px;
}


#menuDiv {
  z-index: 5;
  position: fixed;
  top: 169px;
  left: 7px;
  width: 110px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

#menu {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#menuTitle {
  text-align: center;
  font-family: serif, Times, "Times New Roman";
  font-style: italic;
  font-size: 13pt;
}

#menuTitle:before {
  content: '::';
}

#menuTitle:after {
  content: '::';
}

.menuItem {
  padding-top: 3px;
}

.menuA {
  text-align: center;
  display: block;
  border-left: gray solid 4px;
  border-right: gray solid 4px;
  background-color: Gray;
  border-left: gray solid 4px;
  border-right: gray solid 4px;
  color: black;
}

.menuA:hover {
  background-color: #9b0909;
  color: black;
  border-left: #9b0909 solid 4px;
  border-right: black solid 4px;
}

#menuA-active {
  background-color: Gray;
  border-right: black solid 4px;
  border-left: Gray solid 4px;
  text-decoration: none;
  font-weight: bold;
}

#mainDiv {
  position: absolute;
  top: 169px;
  width: 100%;
}

#sectionTitle {
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  padding-right: 7px;
}

#mainPart {
  z-index: 3;
  margin-left: 130px;
  margin-right: 7px;
}

#content {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#footer {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 10pt;
}

/* ----------------------------------------------- */

/* main divs */
#headBg {
  background-color: Gray;
}

#menuDiv {
  background-color: White;
}

#wisdom {
  background-color: Black;
}

#wisdomTd {
  color: White;
}

#mainPart {
  background-color: #9b0909;
}

#footer {
  background-color: Black;
  color: White;
}

/* mainDiv */
#sectionTitle {
  background-color: Black;
  color: White;
}
