---
layout: default
title: "#redrice :: jako moduły"
activeMenuItem: main
---
<p class="biki initial">
  Witaj nieszczęsny internauto, któremu dane było trafić na tą stronę! G'woli wyjaśnienia: jeśli nie wiesz gdzie się znalazleś czuję się zobowiązany powiadomić, że jest to oficjalna strona kanału #redrice @ irc.<a href="http://freenode.net/">freenode.net</a>.
  Kanał ten jest niezobowiązującą wspólnotą społeczno-internetową, a jeśli nią nie jest to powinien, ponieważ nieźle to brzmi :Pi
</p>

<br class="clearer">

<div class="cmnts_title" id="cmnts_news">
  news?
</div>

{% for post in site.categories.news %}
  <div class="news"{% if post.legacyCommentId %} id="c{{ post.legacyCommentId }}" {% endif %}>
    <div class="newsTitle">
      {{ post.title }}
    </div>
    <img src="/usersdata/avatar_{{ post.author }}.png" width="80" align="left" class="avatar" alt="{{ post.author }}">
    <div class="newsInfo">
      <span class="newsUser">{{ post.author }}</span>,
      {% include time.html date=post.date %}
    </div>
    <div class="newsContent">
      {{ post.content }}
    </div>
    <br class="clearer">
  </div>
  {% endfor %}
